* {
	background-origin: padding-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

html {
	font-size: 16px;
	/* background-color: #636363; */
}

.calculator {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.calc-container {
	background-color: #1A1F33;
	border-radius: 0 0 30px 30px;
	height: auto;
	width: 600px;
}

.output {
	width: 100%;
}

.operation {
	color: #878787;
	font-size: 1.9em;
	font-weight: bold;
	height: 70px;
	overflow: hidden;
	position: relative;
	width: 600px;
}

.operation .value {
	bottom: 5px;
	overflow: hidden;
	position: absolute;
	right: 10px;
	white-space: nowrap;
}

.result {
	color: #fff;
	font-size: 2.6em;
	font-weight: bold;
	height: 140px;
	overflow: hidden;
	position: relative;
	width: 600px;
}

.result .value {
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	white-space: nowrap;
}

.input {
	background-color: #1A1F33;
	height: 340px;
	padding: 8px;
	border-radius: 0px 0px 16px 16px;
}

.row {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.row button {
	background-color: #353A4E;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 1.5em;
	height: 50px;
	margin: 8px 4px;
	width: 80px;
	color: #FFFFFF;
}

.row button:hover {
	background-color: #2C3145;
}

.row #calculate {
	background-color: #53BFFF;
	border-radius: 4px;
	color: #fff;
	width: 170px;
}

.row #delete {
	background-color: #e05046;
	color: #fff;
}

#division,
#multiplication,
#subtraction,
#addition {
	color: #18b893;
}

.input button span {
	font-size: 0.6em;
	position: absolute;
}

.active-angle {
	background-color: #fff !important;
	color: #1d1d1d !important;
}
